


<div class="text-center position-absolute top-50 start-50 translate-middle">
    <h1 class="display-5 shadow-sm p-3 mb-5 bg-body rounded">Welcome to your personalized expense tracker</h1>
    <div>
        @await Html.PartialAsync("_LoginPartial")
    </div>
</div>
